.App {
  height: auto;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0%;
  margin: 0%;
}

.cryptoHeader {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 196, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cryptoHeader input {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
}

.cryptoDisplay {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin {
  width: 400px;
  height: 300px;
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.coin img {
  height: 100px;
}
